[submodule "libgc"]
	path = libgc
	url = git@github.com:frefolli/libgc
    branch = master
    update = merge
[submodule "libutils"]
	path = libutils
	url = git@github.com:frefolli/libutils
    branch = master
    update = merge
[submodule "libhyper"]
	path = libhyper
	url = git@github.com:frefolli/libhyper
    branch = master
    update = merge
[submodule "libclipp"]
	path = libclipp
	url = git@github.com:frefolli/libclipp
    branch = master
    update = merge
[submodule "liblexer"]
	path = liblexer
	url = git@github.com:frefolli/liblexer
    branch = master
    update = merge
[submodule "libparser"]
	path = libparser
	url = git@github.com:frefolli/libparser
    branch = master
    update = merge
[submodule "liblogger"]
	path = liblogger
	url = git@github.com:frefolli/liblogger
    branch = master
    update = merge
